canvas {
  width: 100%;
  height: 100vh;
}

.htmlScreen-pc iframe {
  width: 1027px;
  height: 680px;
  border: none;
  border-radius: 20px;
}

.htmlScreen-sp iframe {
  width: 510px;
  height: 1000px;
  border: none;
  border-radius: 20px;
}
